/*contenido del archivo datos.html*/

.box{
    padding:10px;
    width: 500px;
    height: 250px;
    background-color: darkblue;
    margin:10px;
    float: left;
}

p{
    color:whitesmoke;
    margin: 30px;
   
}
h1{
    color:white;
}
/*
button{
    height:100px;
    width: 100px;
}
*/
.btout{
    
    background-color: yellow;
}

.smallbox{
    padding:10px;
    width: 500px;
    height: 100px;
    background-color: darkblue;
    margin:10px;
    float: left;
}

