/*contenido del archivo datos.html*/
.box{
    width: 500px;
    height: 250px;
    background-color: darkblue;
    margin:10px;
    float: left;
}

p{
    color:whitesmoke;
    margin: 30px;
   
}
h1{
    color:white;
}

